* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #ddd;
}
header,footer{
    background-color: #223344;
    color: #fff;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

section{
    width: 960px;
    margin: 40px auto;
    padding-bottom: 20px;
}
section:not(:last-child){
    border-bottom: 2px solid #888;
}

footer{
    line-height: 50px;
}
section h2{
    position: relative;
    margin-bottom: 5px;
    transition:all 1s;
}

section p{
    margin: 10px;
    font-size: 20px;
    text-indent: 2em;
    text-align: justify;
}
section:hover h2{
    margin-left: 30px;
}

section:hover h2::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/graduation-hat.png);
    background-size: cover;
    left: -30px;
}

.img-magnifier-container {
    position: relative;
    margin-top: 20px;
}
.img-magnifier-container:hover .img-magnifier-glass{
    visibility:visible;
}

/* 放大鏡css設定 */
.img-magnifier-glass {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    visibility: hidden;
}

footer a:link,
footer a:visited,
footer span{
    color: #bbb;
}

footer a:hover{
    color: #fff;
}
